$icomoon-font-family: "volvoicons" !default;
$icomoon-font-path: "../fonts" !default;

$icon-facebook: "\e908";
$icon-instagram: "\e909";
$icon-youtube: "\e90a";
$icon-arrow-right: "\e90b";
$icon-arrow2-right: "\e900";
$icon-message: "\e901";
$icon-call: "\e902";
$icon-info: "\e903";
$icon-placeholder: "\e904";
$icon-steering: "\e905";
$icon-videoplayer: "\e906";
$icon-calendar: "\e907";

